<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BatchTaskHistoryMapper">
    
    <resultMap type="BatchTaskHistory" id="BatchTaskHistoryResult">
        <result property="id"    column="id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="successNum"    column="success_num"    />
        <result property="failNum"    column="fail_num"    />
        <result property="downloadNum"    column="download_num"    />
        <result property="excelUrl"    column="excel_url"    />
        <result property="excelContent"    column="excel_content"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectBatchTaskHistoryVo">
        select id, session_id, type, status, success_num, fail_num, download_num, excel_url, excel_content, create_user, update_user, created_time, updated_time from batch_task_history
    </sql>

    <select id="selectBatchTaskHistoryList" parameterType="BatchTaskHistoryVo" resultMap="BatchTaskHistoryResult">
        <include refid="selectBatchTaskHistoryVo"/>
        <where>
            <if test="sessionId != null  and sessionId != ''"> and session_id = #{sessionId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="successNum != null "> and success_num = #{successNum}</if>
            <if test="failNum != null "> and fail_num = #{failNum}</if>
            <if test="downloadNum != null "> and download_num = #{downloadNum}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND date_format(created_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND date_format(created_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by updated_time desc
    </select>
    
    <select id="selectBatchTaskHistoryById" parameterType="Long" resultMap="BatchTaskHistoryResult">
        <include refid="selectBatchTaskHistoryVo"/>
        where id = #{id}
    </select>

    <select id="selectBatchTaskHistoryByIdIn" resultMap="BatchTaskHistoryResult" parameterType="list">
        <include refid="selectBatchTaskHistoryVo"/>
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBatchTaskHistoryWithId" parameterType="BatchTaskHistory" >
        insert into batch_task_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="successNum != null">success_num,</if>
            <if test="failNum != null">fail_num,</if>
            <if test="downloadNum != null">download_num,</if>
            <if test="excelUrl != null">excel_url,</if>
            <if test="excelContent != null">excel_content,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            created_time,
            updated_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="successNum != null">#{successNum},</if>
            <if test="failNum != null">#{failNum},</if>
            <if test="downloadNum != null">#{downloadNum},</if>
            <if test="excelUrl != null">#{excelUrl},</if>
            <if test="excelContent != null">#{excelContent},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            sysdate(),
            sysdate(),
         </trim>
    </insert>

    <update id="updateBatchTaskHistory" parameterType="BatchTaskHistory">
        update batch_task_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="successNum != null">success_num = #{successNum},</if>
            <if test="failNum != null">fail_num = #{failNum},</if>
            <if test="downloadNum != null">download_num = #{downloadNum},</if>
            <if test="excelUrl != null">excel_url = #{excelUrl},</if>
            <if test="excelContent != null">excel_content = #{excelContent},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            updated_time = sysdate(),
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBatchTaskHistoryById" parameterType="Long">
        delete from batch_task_history where id = #{id}
    </delete>

    <delete id="deleteBatchTaskHistoryByIds" parameterType="String">
        delete from batch_task_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>