<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LogisticsInfoMapper">
    
    <resultMap type="LogisticsInfo" id="LogisticsInfoResult">
        <result property="id"    column="id"    />
        <result property="company"    column="company"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="orderNo"    column="order_no"    />
        <result property="lastTime"    column="last_time"    />
        <result property="lastMsg"    column="last_msg"    />
        <result property="repMsg"    column="rep_msg"    />
        <result property="failureMsg"    column="failure_msg"    />
        <result property="content"    column="content"    />
        <result property="reference"    column="reference"    />
        <result property="packageReference"    column="package_reference"    />
        <result property="depot"    column="depot"    />
        <result property="packId"    column="pack_id"    />
        <result property="secPackId"    column="sec_pack_id"    />
        <result property="waybill"    column="waybill"    />
        <result property="status"    column="status"    />
        <result property="packageId"    column="package_id"    />
        <result property="parcelId"    column="parcel_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="redirectNum"    column="redirect_num"    />
        <result property="activationTime"    column="activation_time"    />
    </resultMap>

    <sql id="selectLogisticsInfoVo">
        select id, company, delivery_time, order_no, last_time, last_msg, rep_msg, failure_msg, content, reference,
        pack_id, sec_pack_id, waybill, status, package_id, parcel_id, create_user, update_user, created_time, updated_time,
        is_delete, redirect_num, activation_time, package_reference, depot from logistics_info
    </sql>

    <select id="selectLogisticsInfoList" parameterType="LogisticsInfo" resultMap="LogisticsInfoResult">
        <include refid="selectLogisticsInfoVo"/>
        <where>
            <if test="ids!= null and ids.size()>0" >
                id in
                <foreach collection="ids" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="deliveryTime != null and deliveryTime != ''"> and delivery_time = #{deliveryTime}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime}</if>
            <if test="lastMsg != null  and lastMsg != ''"> and last_msg = #{lastMsg}</if>
            <if test="repMsg != null  and repMsg != ''"> and rep_msg = #{repMsg}</if>
            <if test="failureMsg != null  and failureMsg != ''"> and failure_msg = #{failureMsg}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="reference != null  and reference != ''"> and reference = #{reference}</if>
            <if test="packageReference != null  and packageReference != ''"> and package_reference = #{packageReference}</if>
            <if test="depot != null  and depot != ''"> and depot = #{depot}</if>
            <if test="packId != null "> and pack_id = #{packId}</if>
            <if test="secPackId != null "> and sec_pack_id = #{secPackId}</if>
            <if test="waybill != null  and waybill != ''"> and waybill = #{waybill}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="packageId != null "> and package_id = #{packageId}</if>
            <if test="parcelId != null "> and parcel_id = #{parcelId}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="createdTime != null"> and date_format(created_time,'%Y-%m-%d') = date_format(#{createdTime},'%Y-%m-%d')</if>
            <if test="updatedTime != null"> and date_format(updated_time,'%Y-%m-%d') = date_format(#{updatedTime},'%Y-%m-%d')</if>
        </where>
        order by updated_time desc
    </select>

    <select id="selectLogisticsInfoListNeedDeal" parameterType="LogisticsInfo" resultMap="LogisticsInfoResult">
        <include refid="selectLogisticsInfoVo"/>
        <where>
            is_delete = 0
            and status != '3'
            and status != '4'
            and status != '5'
            and status != '6'
            <if test="ids!= null and ids.size()>0" >
                and id in
                <foreach collection="ids" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="deliveryTime != null and deliveryTime != ''"> and delivery_time = #{deliveryTime}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="lastTime != null and lastTime != ''"> and last_time = #{lastTime}</if>
            <if test="lastMsg != null  and lastMsg != ''"> and last_msg = #{lastMsg}</if>
            <if test="repMsg != null  and repMsg != ''"> and rep_msg = #{repMsg}</if>
            <if test="failureMsg != null  and failureMsg != ''"> and failure_msg = #{failureMsg}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="reference != null  and reference != ''"> and reference = #{reference}</if>
            <if test="packageReference != null  and packageReference != ''"> and package_reference = #{packageReference}</if>
            <if test="depot != null  and depot != ''"> and depot = #{depot}</if>
            <if test="packId != null "> and pack_id = #{packId}</if>
            <if test="secPackId != null "> and sec_pack_id = #{secPackId}</if>
            <if test="waybill != null  and waybill != ''"> and waybill = #{waybill}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="packageId != null "> and package_id = #{packageId}</if>
            <if test="parcelId != null "> and parcel_id = #{parcelId}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="createdTime != null"> and date_format(created_time,'%Y-%m-%d') = date_format(#{createdTime},'%Y-%m-%d')</if>
            <if test="updatedTime != null"> and date_format(updated_time,'%Y-%m-%d') = date_format(#{updatedTime},'%Y-%m-%d')</if>
        </where>
        order by updated_time desc
    </select>

    <select id="selectLogisticsInfoById" parameterType="Long" resultMap="LogisticsInfoResult">
        <include refid="selectLogisticsInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLogisticsInfo" parameterType="LogisticsInfo">
        insert into logistics_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="company != null">company,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="lastTime != null">last_time,</if>
            <if test="lastMsg != null">last_msg,</if>
            <if test="repMsg != null">rep_msg,</if>
            <if test="failureMsg != null">failure_msg,</if>
            <if test="content != null">content,</if>
            <if test="activationTime != null">activation_time,</if>
            <if test="reference != null">reference,</if>
            <if test="packageReference != null">package_reference,</if>
            <if test="depot != null">depot,</if>
            <if test="packId != null">pack_id,</if>
            <if test="secPackId != null">sec_pack_id,</if>
            <if test="waybill != null">waybill,</if>
            <if test="status != null">status,</if>
            <if test="packageId != null">package_id,</if>
            <if test="parcelId != null">parcel_id,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            created_time,
            updated_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="company != null">#{company},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="lastTime != null">#{lastTime},</if>
            <if test="lastMsg != null">#{lastMsg},</if>
            <if test="repMsg != null">#{repMsg},</if>
            <if test="failureMsg != null">#{failureMsg},</if>
            <if test="content != null">#{content},</if>
            <if test="activationTime != null">#{activationTime},</if>
            <if test="reference != null">#{reference},</if>
            <if test="packageReference != null">#{packageReference},</if>
            <if test="depot != null">#{depot},</if>
            <if test="packId != null">#{packId},</if>
            <if test="secPackId != null">#{secPackId},</if>
            <if test="waybill != null">#{waybill},</if>
            <if test="status != null">#{status},</if>
            <if test="packageId != null">#{packageId},</if>
            <if test="parcelId != null">#{parcelId},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            sysdate(),
            sysdate(),
         </trim>
    </insert>

    <insert id="batchInsert" >
        insert into logistics_info (id, company, delivery_time, order_no, last_time, last_msg, rep_msg, failure_msg,
        content, activation_time, reference, package_reference, depot,
        pack_id, sec_pack_id, waybill, status, package_id, parcel_id, create_user, update_user, created_time, updated_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.company},
            #{item.deliveryTime},
            #{item.orderNo},
            #{item.lastTime},
            #{item.lastMsg},
            #{item.repMsg},
            #{item.failureMsg},
            #{item.content},
            #{item.activationTime},
            #{item.reference},
            #{item.packageReference},
            #{item.depot},
            #{item.packId},
            #{item.secPackId},
            #{item.waybill},
            #{item.status},
            #{item.packageId},
            #{item.parcelId},
            #{item.createUser},
            #{item.updateUser},
            sysdate(),
            sysdate())
        </foreach>
    </insert>

    <update id="updateLogisticsInfo" parameterType="LogisticsInfo">
        update logistics_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="company != null">company = #{company},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="lastTime != null">last_time = #{lastTime},</if>
            <if test="lastMsg != null">last_msg = #{lastMsg},</if>
            <if test="repMsg != null">rep_msg = #{repMsg},</if>
            <if test="failureMsg != null">failure_msg = #{failureMsg},</if>
            <if test="content != null">content = #{content},</if>
            <if test="activationTime != null">activation_time = #{activationTime},</if>
            <if test="reference != null">reference = #{reference},</if>
            <if test="packageReference != null">package_reference = #{packageReference},</if>
            <if test="depot != null">depot = #{depot},</if>
            <if test="packId != null">pack_id = #{packId},</if>
            <if test="secPackId != null">sec_pack_id = #{secPackId},</if>
            <if test="waybill != null">waybill = #{waybill},</if>
            <if test="status != null">status = #{status},</if>
            <if test="packageId != null">package_id = #{packageId},</if>
            <if test="parcelId != null">parcel_id = #{parcelId},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            updated_time = sysdate(),
        </trim>
        where id = #{id}
    </update>

    <update id="deleteLogisticsInfoById" parameterType="Long">
        update logistics_info set is_delete = 1 where id = #{id}
    </update>

    <update id="deleteLogisticsInfoByIds" parameterType="String">
        update logistics_info set is_delete = 1, updated_time = sysdate()
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteLogisticsInfoByWaybills">
        delete from logistics_info
        where waybill in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteLogisticsInfoByPackIds">
        delete from logistics_info
        where pack_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and new_waybill is null
    </delete>

    <update id="updateRedirectNumByIds">
        update logistics_info set redirect_num = redirect_num + 1, updated_time = sysdate()
        where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateRedirectNumByWaybills">
        update logistics_info set redirect_num = redirect_num + 1, updated_time = sysdate()
        where waybill in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectLogisticsInfoListByPackIdIn" resultMap="LogisticsInfoResult">
        <include refid="selectLogisticsInfoVo"/>
        where pack_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectLogisticsInfoListByWaybillIn" resultMap="LogisticsInfoResult">
        <include refid="selectLogisticsInfoVo"/>
        where is_delete = 0
        and waybill in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by last_time desc
    </select>

    <select id="selectLogisticsInfoListWithLInWaybills" resultMap="LogisticsInfoResult">
        select rel.waybill as package_reference, info.waybill,  info.status, info.last_time
        from logistics_info info
        right join waybill_l_rel rel
        on rel.waybill_l = info.waybill
        and rel.is_delete = 0
        where rel.waybill in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by info.last_time desc
    </select>

</mapper>
