<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MbDocumentsMapper">
    
    <resultMap type="Documents" id="DocumentsResult">
        <result property="id"    column="id"    />
        <result property="sessionId"    column="session_id"    />
        <result property="packageId"    column="package_id"    />
        <result property="documentId"    column="document_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="displayName"    column="display_name"    />
        <result property="extension"    column="extension"    />
        <result property="fileData"    column="file_data"    />
        <result property="fileSize"    column="file_size"    />
        <result property="contentType"    column="content_type"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectDocumentsVo">
        select id, session_id, package_id, document_id, file_name, display_name, extension, file_data, file_size, content_type, create_user, update_user, created_time, updated_time, is_delete from mb_documents
    </sql>

    <select id="selectDocumentsByPackageIdIn" parameterType="list" resultMap="DocumentsResult">
        <include refid="selectDocumentsVo"/>
        where package_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectDocumentsList" parameterType="Documents" resultMap="DocumentsResult">
        <include refid="selectDocumentsVo"/>
        <where>
            <if test="sessionId != null "> and session_id = #{sessionId}</if>
            <if test="packageId != null "> and package_id = #{packageId}</if>
            <if test="documentId != null "> and document_id = #{documentId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="displayName != null  and displayName != ''"> and display_name like concat('%', #{displayName}, '%')</if>
            <if test="extension != null  and extension != ''"> and extension = #{extension}</if>
            <if test="fileData != null  and fileData != ''"> and file_data = #{fileData}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="contentType != null  and contentType != ''"> and content_type = #{contentType}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectDocumentsById" parameterType="Long" resultMap="DocumentsResult">
        <include refid="selectDocumentsVo"/>
        where id = #{id}
    </select>

    <select id="selectDocumentsBySessionId" parameterType="Long" resultMap="DocumentsResult">
        <include refid="selectDocumentsVo"/>
        where session_id = #{sessionId}
        and package_id is null
    </select>

    <select id="selectDocumentsByPackageId" parameterType="Long" resultMap="DocumentsResult">
        <include refid="selectDocumentsVo"/>
        where package_id = #{packageId}
    </select>

    <insert id="insertDocuments" parameterType="Documents">
        insert into mb_documents
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="packageId != null">package_id,</if>
            <if test="documentId != null">document_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="displayName != null">display_name,</if>
            <if test="extension != null">extension,</if>
            <if test="fileData != null">file_data,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="contentType != null">content_type,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            created_time,
            updated_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="packageId != null">#{packageId},</if>
            <if test="documentId != null">#{documentId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="displayName != null">#{displayName},</if>
            <if test="extension != null">#{extension},</if>
            <if test="fileData != null">#{fileData},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="contentType != null">#{contentType},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            sysdate(),
            sysdate(),
         </trim>
    </insert>

    <insert id="batchInsert" >
        insert into mb_documents (id, session_id, package_id, document_id, file_name, display_name, extension, file_data, file_size, content_type, create_user, update_user, created_time, updated_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.sessionId},
            #{item.packageId},
            #{item.documentId},
            #{item.fileName},
            #{item.displayName},
            #{item.extension},
            #{item.fileData},
            #{item.fileSize},
            #{item.contentType},
            #{item.createUser},
            #{item.updateUser},
            sysdate(),
            sysdate()
            )
        </foreach>
    </insert>

    <update id="updateDocuments" parameterType="Documents">
        update mb_documents
        <trim prefix="SET" suffixOverrides=",">
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="packageId != null">package_id = #{packageId},</if>
            <if test="documentId != null">document_id = #{documentId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="displayName != null">display_name = #{displayName},</if>
            <if test="extension != null">extension = #{extension},</if>
            <if test="fileData != null">file_data = #{fileData},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            updated_time = sysdate(),
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="clearDocuments" parameterType="String">
        update mb_documents
        set file_data = null
        where left(created_time,10) &lt;= #{endDate}
    </update>

    <delete id="deleteDocumentsById" parameterType="Long">
        delete from mb_documents where id = #{id}
    </delete>

    <delete id="deleteDocumentsByIds" parameterType="String">
        delete from mb_documents where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertInToWithOutMb">
        insert into documents
        select * from mb_documents
    </insert>


    <delete id="deleteMbData">
       delete from mb_documents par
        where exists(
            select * from documents par2
            where par.id = par2.id
                  )
    </delete>

</mapper>
