<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MbMsgMapper">
    
    <resultMap type="MbMsg" id="MbMsgResult">
        <result property="code"    column="code"    />
        <result property="msgCode"    column="msg_code"    />
        <result property="msg"    column="msg"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMbMsgVo">
        select code, msg_code, msg, is_delete, create_by, create_time, update_by, update_time, remark from mb_msg
    </sql>

    <select id="selectMbMsgList" parameterType="MbMsg" resultMap="MbMsgResult">
        <include refid="selectMbMsgVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="msgCode != null  and msgCode != ''"> and msg_code = #{msgCode}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectMbMsgByCode" parameterType="String" resultMap="MbMsgResult">
        <include refid="selectMbMsgVo"/>
        where code = #{code}
    </select>
        
    <insert id="insertMbMsg" parameterType="MbMsg">
        insert into mb_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="msgCode != null">msg_code,</if>
            <if test="msg != null">msg,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="msgCode != null">#{msgCode},</if>
            <if test="msg != null">#{msg},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMbMsg" parameterType="MbMsg">
        update mb_msg
        <trim prefix="SET" suffixOverrides=",">
            <if test="msgCode != null">msg_code = #{msgCode},</if>
            <if test="msg != null">msg = #{msg},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where code = #{code}
    </update>

    <delete id="deleteMbMsgByCode" parameterType="String">
        delete from mb_msg where code = #{code}
    </delete>

    <delete id="deleteMbMsgByCodes" parameterType="String">
        delete from mb_msg where code in 
        <foreach item="code" collection="array" open="(" separator="," close=")">
            #{code}
        </foreach>
    </delete>
</mapper>