<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PackageDpdMappingMapper">
    
    <resultMap type="PackageDpdMapping" id="PackageDpdMappingResult">
        <result property="id"    column="id"    />
        <result property="packageField"    column="package_field"    />
        <result property="dpdField"    column="dpd_field"    />
        <result property="importField"    column="import_field"    />
        <result property="importName"    column="import_name"    />
        <result property="countryCode"    column="country_code"    />
        <result property="tableName"    column="table_name"    />
        <result property="backUpField"    column="back_up_field"    />
        <result property="remark"    column="remark"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectPackageDpdMappingVo">
        select id, package_field, dpd_field, import_field, import_name, country_code, table_name, back_up_field, remark, create_user, update_user, created_time, updated_time, is_delete from package_dpd_mapping
    </sql>

    <select id="selectPackageDpdMappingList" parameterType="PackageDpdMapping" resultMap="PackageDpdMappingResult">
        <include refid="selectPackageDpdMappingVo"/>
        <where>  
            <if test="packageField != null  and packageField != ''"> and package_field = #{packageField}</if>
            <if test="dpdField != null  and dpdField != ''"> and dpd_field = #{dpdField}</if>
            <if test="importField != null  and importField != ''"> and import_field = #{importField}</if>
            <if test="importName != null  and importName != ''"> and import_name like concat('%', #{importName}, '%')</if>
            <if test="countryCode != null  and countryCode != ''"> and country_code = #{countryCode}</if>
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="backUpField != null  and backUpField != ''"> and back_up_field = #{backUpField}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectPackageDpdMappingById" parameterType="Long" resultMap="PackageDpdMappingResult">
        <include refid="selectPackageDpdMappingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPackageDpdMapping" parameterType="PackageDpdMapping" useGeneratedKeys="true" keyProperty="id">
        insert into package_dpd_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageField != null">package_field,</if>
            <if test="dpdField != null">dpd_field,</if>
            <if test="importField != null">import_field,</if>
            <if test="importName != null">import_name,</if>
            <if test="countryCode != null">country_code,</if>
            <if test="tableName != null">table_name,</if>
            <if test="backUpField != null">back_up_field,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
            created_time,
            updated_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageField != null">#{packageField},</if>
            <if test="dpdField != null">#{dpdField},</if>
            <if test="importField != null">#{importField},</if>
            <if test="importName != null">#{importName},</if>
            <if test="countryCode != null">#{countryCode},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="backUpField != null">#{backUpField},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            sysdate(),
            sysdate(),
         </trim>
    </insert>

    <update id="updatePackageDpdMapping" parameterType="PackageDpdMapping">
        update package_dpd_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="packageField != null">package_field = #{packageField},</if>
            <if test="dpdField != null">dpd_field = #{dpdField},</if>
            <if test="importField != null">import_field = #{importField},</if>
            <if test="importName != null">import_name = #{importName},</if>
            <if test="countryCode != null">country_code = #{countryCode},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="backUpField != null">back_up_field = #{backUpField},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            updated_time = sysdate(),
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePackageDpdMappingById" parameterType="Long">
        delete from package_dpd_mapping where id = #{id}
    </delete>

    <delete id="deletePackageDpdMappingByIds" parameterType="String">
        delete from package_dpd_mapping where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>