<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SyncHistoryDpdMapper">
    
    <resultMap type="SyncHistoryDpd" id="SyncHistoryDpdResult">
        <result property="id"    column="id"    />
        <result property="batId"    column="bat_id"    />
        <result property="messageId"    column="message_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="syncStatus"    column="sync_status"    />
        <result property="fileDeleteStatus"    column="file_delete_status"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="syncTime"    column="sync_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSyncHistoryDpdVo">
        select id, bat_id, message_id, file_name, sync_status, file_delete_status, error_msg, sync_time, remark from sync_history_dpd
    </sql>

    <select id="selectSyncHistoryDpdList" parameterType="SyncHistoryDpd" resultMap="SyncHistoryDpdResult">
        <include refid="selectSyncHistoryDpdVo"/>
        <where>  
            <if test="batId != null "> and bat_id = #{batId}</if>
            <if test="messageId != null  and messageId != ''"> and message_id = #{messageId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="syncStatus != null  and syncStatus != ''"> and sync_status = #{syncStatus}</if>
            <if test="fileDeleteStatus != null  and fileDeleteStatus != ''"> and file_delete_status = #{fileDeleteStatus}</if>
            <if test="errorMsg != null  and errorMsg != ''"> and error_msg = #{errorMsg}</if>
            <if test="syncTime != null "> and sync_time = #{syncTime}</if>
        </where>
    </select>

    <select id="selectNoNeedSyncHistoryDpdList" resultMap="SyncHistoryDpdResult">
        <include refid="selectSyncHistoryDpdVo"/>
        where sync_status in ('1', '2')
    </select>

    <select id="selectSyncHistoryDpdById" parameterType="Long" resultMap="SyncHistoryDpdResult">
        <include refid="selectSyncHistoryDpdVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSyncHistoryDpd" parameterType="SyncHistoryDpd" useGeneratedKeys="true" keyProperty="id">
        insert into sync_history_dpd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batId != null">bat_id,</if>
            <if test="messageId != null">message_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="syncStatus != null">sync_status,</if>
            <if test="fileDeleteStatus != null">file_delete_status,</if>
            <if test="errorMsg != null">error_msg,</if>
            <if test="syncTime != null">sync_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batId != null">#{batId},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="syncStatus != null">#{syncStatus},</if>
            <if test="fileDeleteStatus != null">#{fileDeleteStatus},</if>
            <if test="errorMsg != null">#{errorMsg},</if>
            <if test="syncTime != null">#{syncTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSyncHistoryDpd" parameterType="SyncHistoryDpd">
        update sync_history_dpd
        <trim prefix="SET" suffixOverrides=",">
            <if test="batId != null">bat_id = #{batId},</if>
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            <if test="fileDeleteStatus != null">file_delete_status = #{fileDeleteStatus},</if>
            <if test="errorMsg != null">error_msg = #{errorMsg},</if>
            <if test="syncTime != null">sync_time = #{syncTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSyncHistoryDpdById" parameterType="Long">
        delete from sync_history_dpd where id = #{id}
    </delete>

    <delete id="deleteSyncHistoryDpdByIds" parameterType="String">
        delete from sync_history_dpd where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>